org: pauloimb
service: api-comentario

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::670692919870:role/LabRole
  environment:
    TABLE_NAME: ${sls:stage}-t_comentarios
    S3_BUCKET_NAME: ${sls:stage}-s3-comentarios

functions:
  crear:
    handler: comentario.lambda_handler
    events:
      - http:
          path: /comentario/crear
          method: post
          cors: true
          integration: lambda

  procesarStream:
    handler: stream_processor.lambda_handler
    events:
      - stream:
          type: dynamodb
          batchSize: 1
          startingPosition: LATEST
          arn:
            Fn::GetAtt:
              - TablaComentarios # Usa el recurso que crea el serverless
              - StreamArn
    iamRoleStatements: # StackOverflow reference
      - Effect: Allow
        Action:
          - dynamodb:ListStreams
          - dynamodb:DescribeTable
          - dynamodb:UpdateItem
          - dynamodb:GetItem
        Resource:
          - "Fn::Join":
              - ""
              - [
                  "arn:aws:dynamodb:",
                  {"Ref": "AWS::Region"},
                  ":",
                  {"Ref": "AWS::AccountId"},
                  ":table/${self:provider.environment.TABLE_NAME}"
                ]

resources:
  Resources:
    TablaComentarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_NAME}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        StreamSpecification:
          StreamViewType: NEW_IMAGE

    ComentariosBucket: # Creamos el Bucket de Ingesta
      Type: 'AWS::S3::Bucket'
      Properties:
        BucketName: ${self:provider.environment.S3_BUCKET_NAME}
